<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">window.categories = <%- categories %></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #dddddd;
            height: 40px;
        }

        li {
            float: left;
            padding: 10px;
        }

        li a {
            display: block;
            padding: 8px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<ul>
    <li>Category <select id="category-selector"></select></li>
    <li>Radius <input id="radius" value="10"/></li>
    <li>Longitude <input id="longitude" value="-77.036871"/></li>
    <li>Latitude <input id="latitude" value="38.907192"/></li>
    <li><input type="button" onclick="submitHandler()" value="Submit form"></li>
</ul>
<script type="text/javascript">
  var catSelect = document.getElementById('category-selector');
  catSelect.options[catSelect.options.length] = new Option("Select Option", "");
  for(var i = 0; i < window.categories.length; i++){
    var item = window.categories[i];
    catSelect.options[catSelect.options.length] = new Option(item.name, item.id);
  }
</script>

<div id="map"></div>
<!-- Marker -->
<!-- script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: new google.maps.LatLng(2.8,-187.3),
      mapTypeId: 'terrain'
    });

    // Create a <script> tag and set the USGS URL as the source.
    var script = document.createElement('script');
    // This example uses a local copy of the GeoJSON stored at
    // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
    script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
    document.getElementsByTagName('head')[0].appendChild(script);
  }

  // Loop through the results array and place a marker for each
  // set of coordinates.
  window.eqfeed_callback = function(results) {
    for (var i = 0; i < results.features.length; i++) {
      var coords = results.features[i].geometry.coordinates;
      var latLng = new google.maps.LatLng(coords[1],coords[0]);
      var marker = new google.maps.Marker({
        position: latLng,
        map: map
      });
    }
  }
</script -->

<script>
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: parseFloat(document.getElementById("latitude").value), lng: parseFloat(document.getElementById("longitude").value)},
      zoom: 10
    });
    infoWindow = new google.maps.InfoWindow;
  }

  var longitude = null;
  var latitude = null;

  function submitHandler() {
    console.log("submitHandler")

    var sel  = document.getElementById("category-selector");
    var cat = sel.options[sel.selectedIndex].value;

    var radius = document.getElementById("radius").value;
    longitude = document.getElementById("longitude").value;
    latitude = document.getElementById("latitude").value;

    console.log(longitude, latitude, radius, cat)
    getEvents(longitude, latitude, radius, cat)
  }

  function myFunction(id) {
    console.log("myFunction id", id)
  }

  function getEvents(longitude, latitude, radius, cat) {
    console.log(longitude, latitude, radius, cat)
    //url: `http://127.0.0.1:3000/events/-77.036871/38.907192/8/104${}`,
    cat = cat ? cat : 0
    $.ajax({
      type: "GET",
      contentType: 'html',
      url: `http://127.0.0.1:3000/events/${longitude}/${latitude}/${radius}/${cat}`,
      success: function(data) {
        console.log("asdasd", data)
        if(data.events){

          // Creating Maker starts here
          var infoWindow = new google.maps.InfoWindow;
          for (var i = 0; i < data.events.length; i++) {
            var event = data.events[i];
            if(event.venue && event.venue.address){

              for(var j = 0; j < event.events.length; j++){
                var markerDetail = event.events[j];
                var latLng = new google.maps.LatLng(event.venue.address.latitude,event.venue.address.longitude);
                var domCont = "";

                domCont += markerDetail.name ?`<p>${markerDetail.name.html}</p>` : "";
                domCont += markerDetail.logo ?`<p><img src='${markerDetail.logo.url}' /></p>` : "";
                domCont += markerDetail.description ? `<p>${markerDetail.description.html}</p>` : "";
                domCont += markerDetail.start ? `<p>${markerDetail.start.local}</p>` : "";
                domCont += markerDetail ? `<p><button onclick="myFunction(${markerDetail.id})">Remind Me</button></p>` : "";

                // Creating a marker and putting it on the map
                var marker = new google.maps.Marker({
                  position: latLng,
                  map: map,
                  title: markerDetail.name.text,
                  infoWindowContent: domCont
                });

                google.maps.event.addListener(marker, 'click', function() {
                  infoWindow.setContent(this.infoWindowContent);
                  infoWindow.open(map,this);
                });
              }
            }else{
              console.log("Venue detail missing")
            }
          }
        }
      }
    });

  }
</script>
<!--<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDmTXUQyhlAMB-xC_6HDYspGPi9dcn9ek8&callback=initMap">-->
<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDmTXUQyhlAMB-xC_6HDYspGPi9dcn9ek8&callback=initMap">
</script>
</body>
</html>