<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">window.categories = <%- categories %></script>
    <style>
        #map {
            height: 100%;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #dddddd;
            height: 40px;
        }

        li {
            float: left;
            padding: 10px;
        }

        li a {
            display: block;
            padding: 8px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<ul>
    <li>Category <select id="category-selector"></select></li>
    <li>Radius <input id="radius" value="10"/></li>
    <li>Longitude <input id="longitude" value="-77.036871"/></li>
    <li>Latitude <input id="latitude" value="38.907192"/></li>
    <li><input type="button" onclick="submitHandler()" value="Submit form"></li>
</ul>
<script type="text/javascript">
  var catSelect = document.getElementById('category-selector');
  catSelect.options[catSelect.options.length] = new Option("Select Option", "");
  for(var i = 0; i < window.categories.length; i++){
    var item = window.categories[i];
    catSelect.options[catSelect.options.length] = new Option(item.name, item.id);
  }
</script>

<div id="map"></div>

<script>
  var map, infoWindow;
  var markers = [];
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: parseFloat(document.getElementById("latitude").value), lng: parseFloat(document.getElementById("longitude").value)},
      zoom: 10
    });
    infoWindow = new google.maps.InfoWindow;
  }

  var longitude = null;
  var latitude = null;

  function submitHandler() {
    var sel  = document.getElementById("category-selector");
    var cat = sel.options[sel.selectedIndex].value;

    var radius = document.getElementById("radius").value;
    longitude = document.getElementById("longitude").value;
    latitude = document.getElementById("latitude").value;

    getEvents(longitude, latitude, radius, cat)
  }

  function addReminder(id) {
    console.log("addReminder id", id)
  }

  // clears map
  function clearMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
  }

  function getEvents(longitude, latitude, radius, cat) {
    cat = cat ? cat : 0
    $.ajax({
      type: "GET",
      contentType: 'html',
      url: `http://127.0.0.1:3000/events/${longitude}/${latitude}/${radius}/${cat}`,
      success: function(data) {
        if(data.events){
          clearMarkers();
          markers = [];
          // Creating Maker starts here
          var infoWindow = new google.maps.InfoWindow;
          for (var i = 0; i < data.events.length; i++) {
            var event = data.events[i];
            if(event.venue && event.venue.address){
              for(var j = 0; j < event.events.length; j++){
                var markerDetail = event.events[j];
                var latLng = new google.maps.LatLng(event.venue.address.latitude,event.venue.address.longitude);
                var domCont = "";

                domCont += markerDetail.name ?`<p>${markerDetail.name.html}</p>` : "";
                domCont += markerDetail.logo ?`<p><img src='${markerDetail.logo.url}' /></p>` : "";
                domCont += markerDetail.description ? `<p>${markerDetail.description.html}</p>` : "";
                domCont += markerDetail.start ? `<p>${markerDetail.start.local}</p>` : "";
                domCont += markerDetail ? `<p><button onclick="addReminder(${markerDetail.id})">Remind Me</button></p>` : "";

                // Creating a marker and putting it on the map
                var marker = new google.maps.Marker({
                  position: latLng,
                  map: map,
                  title: markerDetail.name.text,
                  infoWindowContent: domCont
                });

                markers.push(marker);

                google.maps.event.addListener(marker, 'click', function() {
                  infoWindow.setContent(this.infoWindowContent);
                  infoWindow.open(map,this);
                });
              }
            }else{
              console.log("Venue detail missing")
            }
          }
        }
      },
      error: function (textStatus, errorThrown) {
        console.log("error", textStatus);
      }
    });

  }
</script>
<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDmTXUQyhlAMB-xC_6HDYspGPi9dcn9ek8&callback=initMap">
</script>
</body>
</html>