<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">window.categories = <%- categories %></script>
    <style>
        #map {
            height: 93%;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #dddddd;
            height: 40px;
            position: relative;
            z-index: 999999;
        }

        li {
            float: left;
            padding: 10px;
        }

        li a {
            display: block;
            padding: 8px;
        }

        #fountainG{
            position:relative;
            width:234px;
            height:28px;
            margin:auto;
        }

        .fountainG{
            position:absolute;
            top:0;
            background-color:rgb(0,0,0);
            width:28px;
            height:28px;
            animation-name:bounce_fountainG;
            -o-animation-name:bounce_fountainG;
            -ms-animation-name:bounce_fountainG;
            -webkit-animation-name:bounce_fountainG;
            -moz-animation-name:bounce_fountainG;
            animation-duration:1.5s;
            -o-animation-duration:1.5s;
            -ms-animation-duration:1.5s;
            -webkit-animation-duration:1.5s;
            -moz-animation-duration:1.5s;
            animation-iteration-count:infinite;
            -o-animation-iteration-count:infinite;
            -ms-animation-iteration-count:infinite;
            -webkit-animation-iteration-count:infinite;
            -moz-animation-iteration-count:infinite;
            animation-direction:normal;
            -o-animation-direction:normal;
            -ms-animation-direction:normal;
            -webkit-animation-direction:normal;
            -moz-animation-direction:normal;
            transform:scale(.3);
            -o-transform:scale(.3);
            -ms-transform:scale(.3);
            -webkit-transform:scale(.3);
            -moz-transform:scale(.3);
            border-radius:19px;
            -o-border-radius:19px;
            -ms-border-radius:19px;
            -webkit-border-radius:19px;
            -moz-border-radius:19px;
        }

        #fountainG_1{
            left:0;
            animation-delay:0.6s;
            -o-animation-delay:0.6s;
            -ms-animation-delay:0.6s;
            -webkit-animation-delay:0.6s;
            -moz-animation-delay:0.6s;
        }

        #fountainG_2{
            left:29px;
            animation-delay:0.75s;
            -o-animation-delay:0.75s;
            -ms-animation-delay:0.75s;
            -webkit-animation-delay:0.75s;
            -moz-animation-delay:0.75s;
        }

        #fountainG_3{
            left:58px;
            animation-delay:0.9s;
            -o-animation-delay:0.9s;
            -ms-animation-delay:0.9s;
            -webkit-animation-delay:0.9s;
            -moz-animation-delay:0.9s;
        }

        #fountainG_4{
            left:88px;
            animation-delay:1.05s;
            -o-animation-delay:1.05s;
            -ms-animation-delay:1.05s;
            -webkit-animation-delay:1.05s;
            -moz-animation-delay:1.05s;
        }

        #fountainG_5{
            left:117px;
            animation-delay:1.2s;
            -o-animation-delay:1.2s;
            -ms-animation-delay:1.2s;
            -webkit-animation-delay:1.2s;
            -moz-animation-delay:1.2s;
        }

        #fountainG_6{
            left:146px;
            animation-delay:1.35s;
            -o-animation-delay:1.35s;
            -ms-animation-delay:1.35s;
            -webkit-animation-delay:1.35s;
            -moz-animation-delay:1.35s;
        }

        #fountainG_7{
            left:175px;
            animation-delay:1.5s;
            -o-animation-delay:1.5s;
            -ms-animation-delay:1.5s;
            -webkit-animation-delay:1.5s;
            -moz-animation-delay:1.5s;
        }

        #fountainG_8{
            left:205px;
            animation-delay:1.64s;
            -o-animation-delay:1.64s;
            -ms-animation-delay:1.64s;
            -webkit-animation-delay:1.64s;
            -moz-animation-delay:1.64s;
        }



        @keyframes bounce_fountainG{
            0%{
                transform:scale(1);
                background-color:rgb(0,0,0);
            }

            100%{
                transform:scale(.3);
                background-color:rgb(255,255,255);
            }
        }

        @-o-keyframes bounce_fountainG{
            0%{
                -o-transform:scale(1);
                background-color:rgb(0,0,0);
            }

            100%{
                -o-transform:scale(.3);
                background-color:rgb(255,255,255);
            }
        }

        @-ms-keyframes bounce_fountainG{
            0%{
                -ms-transform:scale(1);
                background-color:rgb(0,0,0);
            }

            100%{
                -ms-transform:scale(.3);
                background-color:rgb(255,255,255);
            }
        }

        @-webkit-keyframes bounce_fountainG{
            0%{
                -webkit-transform:scale(1);
                background-color:rgb(0,0,0);
            }

            100%{
                -webkit-transform:scale(.3);
                background-color:rgb(255,255,255);
            }
        }

        @-moz-keyframes bounce_fountainG{
            0%{
                -moz-transform:scale(1);
                background-color:rgb(0,0,0);
            }

            100%{
                -moz-transform:scale(.3);
                background-color:rgb(255,255,255);
            }
        }

        #fountainG {
            top: 50%;
        }
        .loader {
            background-color: rgba(255, 255, 255, 0.8);
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 9999;
            margin-top: 0px;
            top: 0px;
        }
        .modal-open .modal {
            top: 60px;
        }
    </style>
</head>
<body>
<div class="loader" style="display: none;">
    <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
    </div>
</div>
<ul>
    <li>Category <select id="category-selector"></select></li>
    <li>Radius(kms) <input id="radius" value="10"/></li>
    <li>Longitude <input id="longitude" value="-77.036871"/></li>
    <li>Latitude <input id="latitude" value="38.907192"/></li>
    <li><input id="submitHandler" type="button" value="Find Events"></li>
</ul>
<script type="text/javascript">
  var catSelect = document.getElementById('category-selector');
  catSelect.options[catSelect.options.length] = new Option("Select Option", "");
  for(var i = 0; i < window.categories.length; i++){
    var item = window.categories[i];
    catSelect.options[catSelect.options.length] = new Option(item.name, item.id);
  }
</script>

<div id="map"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" id="event-id" name="event-id" />
                <p>Email Addres: <input id="email" name="email" /> </p>
                <p>Remind before: <input id="time" name="time" placeholder="In minutes" /> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="submitReminder()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
  var map, infoWindow;
  var markers = [];
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: parseFloat(document.getElementById("latitude").value), lng: parseFloat(document.getElementById("longitude").value)},
      zoom: 10
    });
    infoWindow = new google.maps.InfoWindow;
  }

  var longitude = null;
  var latitude = null;

  document.getElementById("submitHandler").addEventListener("click", function(event){
    var sel  = document.getElementById("category-selector");
    var cat = sel.options[sel.selectedIndex].value;

    if(!cat) alert("please select Category"); event.preventDefault();
    var radius = document.getElementById("radius").value;
    longitude = document.getElementById("longitude").value;
    latitude = document.getElementById("latitude").value;

    getEvents(longitude, latitude, radius, cat)
  });

  function addReminder(id) {
    document.getElementById("event-id").value = id;
    $("#myModal").modal()
  }
  
  function submitReminder() {
    var eventId = document.getElementById("event-id").value;
    var email = document.getElementById("email").value;
    var time = document.getElementById("time").value;

    $('.loader').show();
    $.ajax({
      type: "GET",
      contentType: 'html',
      url: `http://127.0.0.1:3000/reminder/${eventId}/${email}/${time}`,
      success: function(data) {
        console.log("data", data)
        alert("request submitted")
        $('.loader').hide();
      },
      error: function (textStatus, errorThrown) {
        console.log("error", textStatus);
        $('.loader').hide();
      }
    });

  }

  // clears map
  function clearMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
  }

  function getEvents(longitude, latitude, radius, cat) {
    $('.loader').show();
    cat = cat ? cat : 0;
    $.ajax({
      type: "GET",
      contentType: 'html',
      url: `http://127.0.0.1:3000/events/${longitude}/${latitude}/${radius}/${cat}`,
      success: function(data) {
        if(data.events){
          clearMarkers();
          markers = [];
          // Creating Maker starts here
          var infoWindow = new google.maps.InfoWindow;
          for (var i = 0; i < data.events.length; i++) {
            var event = data.events[i];
            if(event.venue && event.venue.address){
              for(var j = 0; j < event.events.length; j++){
                var markerDetail = event.events[j];
                var latLng = new google.maps.LatLng(event.venue.address.latitude,event.venue.address.longitude);
                var domCont = "";

                domCont += markerDetail.name ?`<p>${markerDetail.name.html} <button class="btn btn-primary pull-right" onclick="addReminder(${markerDetail.id})">Notify Me</button></p>` : "";
                domCont += markerDetail.logo ?`<p><img src='${markerDetail.logo.url}' /></p>` : "";
                domCont += markerDetail.description ? `<p>${markerDetail.description.html}</p>` : "";
                domCont += markerDetail.start ? `<p>${markerDetail.start.local}</p>` : "";
                domCont += markerDetail ? `<p>Latitude: ${event.venue.address.latitude} , Longitude: ${event.venue.address.longitude}</p>` : "";

                // Creating a marker and putting it on the map
                var marker = new google.maps.Marker({
                  position: latLng,
                  map: map,
                  title: markerDetail.name.text,
                  infoWindowContent: domCont
                });

                markers.push(marker);

                google.maps.event.addListener(marker, 'click', function() {
                  infoWindow.setContent(this.infoWindowContent);
                  infoWindow.open(map,this);
                });
              }
            }else{
              console.log("Venue detail missing")
            }
          }
        }

        $('.loader').hide();
      },
      error: function (textStatus, errorThrown) {
        console.log("error", textStatus);
        $('.loader').hide();
      }
    });

  }
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDmTXUQyhlAMB-xC_6HDYspGPi9dcn9ek8&callback=initMap"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>